* {
	box-sizing: content-box;
}

body, html {
	margin: 0;
  height: 100%;
}

.container {
  max-width: 95%;
  margin: 0 auto;
}

.header {
  position: fixed;
  width: 100%;
	background-color: #000;
	border-bottom: 1px solid #333;
}

.logo {
		display: inline-block;
}

.logo a {
	color: #fff;
	line-height: 50px;
	text-decoration: none;
}

#nav-label {
	color: #fff;
	cursor: pointer;
	float: right;
	line-height: 50px;
}

#nav-toggler {
	display: none
}

#nav-toggler:checked + .navigation {
	display: flex
}

.navigation {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: calc(100vh - 50px);
}

.navigation a {
	color: #fff;
	text-decoration: none;
}

@media screen and (min-width: 720px) {
	.header .container {
		display: flex;
		justify-content: flex-end;
	}
	#nav-label {
		display: none
	}
	.navigation {
		display: flex;
		height: unset;
		flex-direction: row;
		justify-content: flex-end;
		flex-grow: 1
	}
  .navigation a {
  	padding-left: 18px
  }
}

